<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test html file</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>This is the html file sent to the server using res.sendFile</h1>
    <h2>I am checking whether changes are being reflected or not</h2>
    <h2>This project is being built by <%= locals.nambo%> and his Age is <%= locals.age%></h2>
    <h3><%= 45+89%></h3>
</body>
</html>